$nunito: "Nunito", sans-serif;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$openSans: "Open Sans", sans-serif;

.myProfileContainer {
    margin: 100px 0px !important;

}

.myProfileUserImgBox {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.myProfileUserImg {
    border-radius: 50% !important;
    width: 225px !important;
    height: 225px !important;
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75) !important;
}

.myProfileContainerBox {
    background-color: #272D37 !important;
    padding: 25px !important;
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75) !important;
    border-radius: 10px !important;
}

.myProfileUserName {
    margin-top: 20px !important;
    background-color: white !important;
    font-family: $poppins  !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    padding: 5px 30px !important;
    border-radius: 10px !important;
}

.myProfileStatsBox {
    margin-top: 30px !important;
    border: 2px solid white !important;
    border-radius: 8px !important;
    padding: 15px !important;
}

.myProfileBadgesBox {
    margin-top: 30px !important;
    border: 2px solid white !important;
    border-radius: 8px !important;
    padding: 15px !important;
}

.myProfileStatsTitle {
    font-family: $poppins  !important;
    font-weight: 600 !important;
    color: white !important;


}

.myProfileBadgesTitle {
    font-family: $poppins  !important;
    font-weight: 600 !important;
    color: white !important;


}

.myProfileStatsDataBox {
    margin-top: 15px !important;
}

.myProfileStatsDetail {
    background-color: white !important;
    margin: 0px 15px !important;
    color: #02050E !important;
    font-family: $poppins  !important;
    font-weight: 600 !important;

}

.myProfileStatsLikeIcon {
    font-size: 15px !important;
    margin-right: 5px !important;
}

.myProfileStatsPaintIcon {
    font-size: 15px !important;
    margin-right: 5px !important;
    color: #2E64F0 !important;
}

.myProfileBadgesDataBox {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 15px !important;
}

.myProfileBadgesIconDisabled {
    opacity: 0.2 !important;
}

.myProfileEditButtonBox {
    display: flex !important;
    justify-content: flex-end !important;
}

.myProfileEditButton {
    color: white  !important;
}

@media only screen and (max-width: 768px) {
    .myProfileContainer {
        margin: 70px 0px !important;
    }

    .myProfileUserImg {
        width: 150px !important;
        height: 150px !important;
    }

    .myProfileStatsDetail {
        margin: 0px 10px !important;
        font-size: 12px !important;
    }

    .myProfileUserName {
        font-size: 15px !important;
    }

}