.landingContainer{
    background: #02050E !important;
    
    padding: 30px 80px !important;
}
.landingContainerFooter{
    background: #040C27 !important;
    padding: 30px 80px !important;
}
@media only screen and (max-width: 992px) {
    .landingContainer{
        padding: 20px 20px !important;
    }
    .landingContainerFooter{
        padding: 20px 20px !important;
    }
   }
